:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;

  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
}

.content-section {
  padding: 0 5vi;
}

.header {
  padding: 10% 0 0;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__theme-toggler {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.header__theme-button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  background-color: inherit;
  border: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.header__theme-button:hover:not(.header__theme-button_is-active) {
  text-decoration: underline;
  text-decoration-color: rgba(49, 42, 78, 0.50);
}

.header__theme-button:focus {
  outline: none
}

.header__theme-button:focus-visible {
  outline: 1px solid currentColor;
}

.header__theme-button_type_dark {}

.header__theme-button_type_light {}

.header__theme-button_is-active {
  font-weight: 600;
  position: relative;
}

.header__theme-button_is-active::after {
  content: '';
  inset: 0;
  background-color: var(--accent-color);
  z-index: -1;
  position: absolute;
}

.heading {
  text-align: center;
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 90%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin: 0 0 40px;
}

.content__title {
  margin: 7% 0 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block_type_first-lettered>.content__paragraph:first-of-type::first-letter {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  background-color: var(--accent-color);
  padding: 0 4px;
  margin: 0 1px 0 0;
  display: inline-block;
}

.content__text-block>.content__paragraph:not(:last-of-type) {
  margin: 0 0 1.5em;
}

.content__link {
  color: inherit;
  text-decoration-color: currentColor;
}

.content__link:hover {
  text-decoration-color: rgba(49, 42, 78, 0.50);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.content__blockquote {
  inline-size: 75%;
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 200%;
}

.content__figure {
  margin: 7% 0;
  inline-size: calc(100% + 10vi);
  position: relative;
  inset: 0 0 0 -5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid currentColor;
  font-size: 18px;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/3;
  margin: 7% 0 0;
  border: 1px solid currentColor;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  content: '';
  inset: 0;
  background-color: var(--accent-color);
  z-index: -1;
  position: absolute;
}

.content__list {
  list-style: none;
  inset-inline-start: 0 0 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  inset: 0 0 0 -20px;
}